.page-container{
	max-width: 1800px;
	margin: 1% auto;
	
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.main {
	max-width: 1500px;
	background-image: url('../img/wood.jpg');
	background-size: cover;
	border-radius: 50px;
}

.chart-container{
	max-width: 400px;
	margin-top: 0.5%;
	background-color: white;
	border-radius: 50px;
	max-height: 100px !important;
}

.chart-container header{
	width: 100%;
	height: 100px !important;
}

.chart-container header h3{
	text-align: center;
	color: white;
}

header{
	background: #35424a;
	padding-top: 30px;
	min-height: 70px;
	/*max-height: 150px;*/
	border-bottom: #ff0000 3px solid;
	border-radius: 25px 25px 0 0;
	padding-bottom: 20px;
}

header a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px;
	margin-top: auto;
}

header #branding{
	float: left;
	max-width: 400px;
	max-height: 200px;
}

header #branding img{
	height: 100px;
}

header #logo img{
	height: 100px;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 25px;
	/*width: 280px;*/
}

header .highlight, header .current a{
	color: #ff0000;
	font-weight: bold;
}

header a:hover{
	color: #ccc;
	font-weight: bold;
}

.nav-container{
	display: flex;
	justify-content: stretch;
	/*margin-left: 0 !important;*/
}

.nav-container: third-child{
	flex-grow: 3;
}

img.logo{
	height: 60%;
}

html body{
	margin: 0;
	height: 100%;
	background-image: url("../css/background.jpg");
	background-size: cover;
}

footer{
	background: #35424a;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #ff0000 3px solid;
	border-radius: 0 0 25px 25px;
	margin: 0 auto;
}

.footdiv {
	margin-top: 0;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
}

footer li{
	list-style-type: none;
}

footer h4, footer li{
	color: white;
}


.social-menu ul {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 20% auto;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: auto 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #1DB954;
}

.copyrights {
	display: block;
	width: 100%;
}

.copyrights p {
	color: white;
	margin-left: auto !important;
	text-align: center;
}

@media (max-width: 800px){
	.page-container{
		flex-direction: column;
	}
	
	#logo {
		width: 173px;
		margin: auto;
	}

	#branding {
		margin: auto;
	}

	.three {
		margin: auto;
	}

	header{
		flex-direction: column;
		justify-content: center;
	}

	.nav-container{
		flex-direction: column;
		justify-content: center;
		margin: auto;
	}

	.social-menu{
		margin-left: 30%;
	}

	.footdiv{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

@media (min-width: 960px){
	header{
		min-height: 140px;
	}

	header #logo{
		margin: 0 15px;
	}
}
