/*
.page-container{
	max-width: 1800px !important;
	margin: 1% auto !important;
	
	padding: 0 !important;
	display: flex !important;
	flex-direction: row;
	justify-content: space-around !important;
}

.main {
	max-width: 80% !important;
	background-image: url('frontend/assets/img/wood.jpg');
	background-size: cover;
	border-radius: 50px;
}
*/

/**
.chart-container{
	max-width: 400px;
	margin-top: 0.5%;
	background-color: white;
	border-radius: 50px;
	height: 0%;
}
**/

.chart-container header{
	width: 100%;
}

.chart-container header h3{
	text-align: center;
	color: white;
}

.chart-container h5{
	font-size: 1em;
}

.top-10 table{
	margin-bottom: 0;
	width: 100%;
}

#lastfm {
	width: 20px;
	margin-right: 5px;
}

.chatango{
	padding: 1% 5%;
	width:100%;
	height:450px;
}

.shows{
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
}

#now-playing{
	max-height: 600px;
	min-height: 300px;
	max-width: 500px;
	min-width: 300px;
	padding-bottom: 10px;
	background-image: url('../img/shows-bgrnd.jpg');
	background-size: cover;
	margin: 10px 20px;
	border-radius: 25px;
}

.show-logo img{
	display: block;
	max-width: 300px;
	max-height: 300px;
	border-radius: 25px;
	margin: 10% auto;
}

#now-playing h2, #now-playing h4, #now-playing h6{
	text-align: center;
	margin: 0 auto;
	color: white;
}

#coming-next{
	max-height: 500px;
	min-height: 300px;
	max-width: 500px;
	min-width: 300px;
	padding-bottom: 10px;
	background-image: url('../img/shows-bgrnd.jpg');
	background-size: cover;
	margin: 10px 20px;
	border-radius: 25px;
}


#coming-next h2, #coming-next h4, #coming-next h6{
	text-align: center;
	margin: 0 auto;
	color: white;
}

.producers-broadcast{
	display: flex;
	justify-content: space-evenly;
}

.producers-broadcast h6{
	margin-left: 5px !important;
	margin-right: 5px !important;
}


@media (max-width: 800px){
		.shows{
		flex-direction: column;
	}

	.main header{
		flex-direction: column;
		justify-content: center;
	}
}
		

@media (min-width: 960px){
		#coming-next, #now-playing{
		width: 500px;
	}
}
